// Variables

$primary: #15bdc3;
$secondary: #6f6f6f;
$primary-shadow: 0 0 0 rgba(21,189,195,1);
$primary-box-shadow: 0 0 0 3px rgba(21,189,195,1);
$thin-box-shadow: 0 0 0 1px rgba(21,189,195,1);
$white: #fff;

$opensans: 'Open Sans', sans-serif;